@charset "utf-8";

/* include Boostrap overrides here */ 
/* see bootstrap/_variables.scss for what you can override */
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Arvo, Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;

/* edit bootstrap-custom to pick modules */
@import "bootstrap/bootstrap-custom";

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
	background: url(http://static.chasballew.com/images/cream_dust.png);
}

#title-row {
	border-bottom: 1px black;
}

#profile-pic {
	width: 140px;
	height: 140px;
	background: url(http://gravatar.com/avatar/446c742f32040bd5adfa7a45b01bb827?s=300);
	background-size: contain;
	margin: auto auto;
}

#aptible-logo {
	display: block;
	width: 100px;
	height: 100px;
	background: url(http://www.gravatar.com/avatar/3fdb74838e87cd36c68ce2135900f01a?s=200);
	background-size: contain;
	margin: auto auto;
}

.titlerow {
	.make-row{};
}

/* ==========================================================================
   Customs media queries
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {

}

/* no mans land */
@media (min-width: 980px) and (max-width: 1199px) {

}

/* fixes all body/navbar issues below*/
@media (max-width: 979px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
@media (max-width: 680px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}
