@charset "utf-8";

/* include Boostrap overrides here */ 
/* see bootstrap/_variables.scss for what you can override */

/*$navbarBackgroundHighlight: #003366;
$navbarLinkColor: 			#fff;
$navbarLinkColorHover:		#999;
$navbarLinkColorActive:		#555;
$textColor: #555; */

$sansFontFamily:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Arvo, Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

/* remove responsive if you want */
 @import "bootstrap/bootstrap-custom";


/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
	background: url(http://static.chasballew.com/images/cream_dust.png);
}


/* ==========================================================================
   Customs media queries
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {

}

/* no mans land */
@media (min-width: 980px) and (max-width: 1199px) {

}

/* fixes all body/navbar issues below*/
@media (max-width: 979px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
@media (max-width: 680px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}


