---
title: Chas Ballew
---

name

<img src="http://gravatar.com/avatar/446c742f32040bd5adfa7a45b01bb827?s=140" class="img-circle"></img>

short description

<bio>
I'm one of the co-founders of <a href="https://www.aptible.com" target="_blank">Aptible</a>. I'm a developer and enterpreneur with a background in regulatory law. I live and work in Manhattan. I want to build technology that helps people lead healthy, happy lives. I'm especially interested in making it easier for cloud-based software developers to comply with health IT regulations. I blog for Aptible <a href="http://blog.aptible.com" target="_blank">here</a>.</bio>


links
find me on:
<a href="http://www.linkedin.com/in/chasballew" target="_blank">linkedin</a>
<a href="https://twitter.com/ChasBallew" target="_blank">twitter</a>
<a href="http://github.com/chasballew/" target="_blank">github</a>


bio

<aptible>Aptible is a Platform as a Service (PaaS) built from the ground up to facilitate HIPAA compliance. We let developers run application and database stacks in the cloud, while helping ensure the confidentiality, integrity, and availability of all ePHI that is created, received, transmited, or maintained in the software environment. Healthcare IT is complex, but it's a fast-growing, exciting area with the potential to make huge impacts on people's lives and happiness. It's a privilege to work on unlocking the incredible leverage of cloud computing for healthcare developers, providers, and ultimately patients.</aptible>

<aboutme>I graduated from Princeton in 2006 with a degree in psychology. My advisor, <a href="https://psych.princeton.edu/psychology/research/todorov/index.php" target="_blank">Alex Todorov</a>, and I published work on how <a href="http://www.pnas.org/content/104/46/17948.abstract" target="_blank">fast cognitive processes can predict elections</a>.</p>

<p>I taught as a graduate assistant for two years in the Department of Psychology at the University of Michigan, where I graduated from law school in 2009. During law school, I learned about the legal aspects of startup formation and financing, and made some great friends in one of the <a href="http://sitemaker.umich.edu/finance629/home" target="_blank">best classes ever</a>. During the summers, I worked in <a href="http://www.fd.org" target="_blank">public service</a>, and at a <a href="http://www.wsgr.com" target="_blank">large tech law firm</a> in Palo Alto.</p>
<p>After law school, I served on active duty for four years in the Army, working in the Office of the General Counsel at the Pentagon.</aboutme>