---
title: Chas Ballew
---
<div class="container" id="main-page-wrapper">

    <div class="home-header">
        <div class="header-container">
            <div class="header-text">Chas</div>
            <div class="header-text">Ballew</div>
        </div>
    </div>

    <div class="row">
        <div class="span4" id="intro">
            <h2>Hi, I'm Chas.</h2>
            <p>I'm the founder of Aptible. I'm a developer and enterpreneur with a background in regulatory law. I live and work in Washington, DC.</p>
            <p>I want to build technology that helps people lead healthy, happy lives.</p>
            <p>I'm especially interested in making it easier for cloud-based software developers to comply with health IT regulations.</p>
            <p>I blog <a href="http://chasballew.tumblr.com" target="_blank">here</a>.</p>
            <hr class="visible-phone">
        </div>
        <div class="span4" id="current">
            <h2>Current projects:</h2>
            <p>I want to make it easier for people to gather and analyze data about their health. I also want to make it easier for healthcare providers to help patients outside of acute and ambulatory care settings.</p>
            <p>I'm working on an SMS campaign platform for health interventions. Providers would be able to use the platorm to run clinically-validated programs for 
                <a href="http://jamia.bmj.com/content/early/2012/04/12/amiajnl-2011-000748.abstract" target="_blank">medication adherence</a>, 
                <a href="http://www.biomedcentral.com/1471-2261/12/36" target="_blank">cardiac rehab</a>, 
                <a href="http://www.ajmc.com/articles/Care-by-Cell-Phone-Text-Messaging-for-Chronic-Disease-Management" target="_blank">chronic disease management</a>, 
                <a href="http://mobihealthnews.com/18822/center-for-connected-health-to-study-sms-for-managing-cancer-pain/" target="_blank">pain management</a>, 
                <a href="http://www.ihealthbeat.org/articles/2013/5/3/study-text-messages-improve-outcomes-for-children-with-asthma.aspx" target="_blank">asthma monitoring</a>, 
                <a href="http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD006611.pub3/abstract;jsessionid=045CC4FE821F9763C9909D05AD7AFBE3.d03t01" target="_blank">smoking cessation</a>, etc. Researchers would be able to use the platform to develop new studies on the efficacy of SMS interventions.</p>
            <hr class="visible-phone">
       </div>
        <div class="span4" id="about">
            <h2>About me:</h2>
            <p>I graduated from Princeton in 2006 with a degree in psychology. My advisor, <a href="https://psych.princeton.edu/psychology/research/todorov/index.php" target="_blank">Alex Todorov</a>, and I published work on how <a href="http://www.pnas.org/content/104/46/17948.abstract" target="_blank">fast cognitive processes can predict elections</a>.</p>

            <p>I taught as a graduate assistant for two years in the Department of Psychology at the University of Michigan, where I graduated from law school in 2009. During law school, I learned about the legal aspects of startup formation and financing, and made some great friends in one of the <a href="http://sitemaker.umich.edu/finance629/home" target="_blank">best classes ever</a>. During the summers, I worked in <a href="http://www.fd.org" target="_blank">public service</a>, and at a <a href="http://www.wsgr.com" target="_blank">large tech law firm</a> in Palo Alto. Since law school, I have been serving on active duty in the Army, working in the Army Office of the General Counsel at the Pentagon. I leave the Army in August.</p>
            <hr class="visible-phone">
       </div>
    </div>
    <div class="row">
        <div class="span4 offset4 pagination-centered" id="contact">
            <h2>Let's get in touch:</h2>
            <div class="social-box">
                <a href="mailto:chas@aptible.com"><img src="http://static.chasballew.com/images/google-icon.png"></a>
                <a href="http://www.linkedin.com/in/chasballew" target="_blank"><img src="http://static.chasballew.com/images/linkedin-icon.png"></a>
                <a href="https://twitter.com/ChasBallew" target="_blank"><img src="http://static.chasballew.com/images/twitter-icon.png"></a>
                <a href="http://github.com/chasballew/" target="_blank"><img src="http://static.chasballew.com/images/github-icon.png"></a>
            </div>
        </div>
    </div>
</div>