---
title: Chas Ballew
---

<div class="container text-center">
	<div class="titlerow">
		CHAS BALLEW
	</div>
	
	<div class="img-circle" id="profile-pic"></div>
	
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div>
				With my friend <a href="https://twitter.com/fancyremarker" target="_blank">Frank</a>, I'm one of the co-founders of <a href="https://www.aptible.com" target="_blank">Aptible</a>. We're making it easier for developers to comply with healthcare technology regulations.
			</div>
		</div>
		<div class="row">
			<a href="https://www.aptible.com" target="_blank" id="aptible-logo"></a>
		</div>		
		<div class="row">	
			<div>
				I occasionally write for <a href="http://blog.aptible.com" target="_blank">Aptible's blog</a>.
			</div>
		</div>
		
		<div class="row">
			find me on:
			<ul>
				<a href="http://github.com/chasballew/" target="_blank">github</a>
				<a href="https://twitter.com/ChasBallew" target="_blank">twitter</a>
				<a href="http://www.linkedin.com/in/chasballew" target="_blank">linkedin</a>
			</ul>
		</div>
		
		<div class="row">bio
			<div>
				I graduated from Princeton in 2006 with a degree in psychology. My advisor, <a href="https://psych.princeton.edu/psychology/research/todorov/index.php" target="_blank">Alex Todorov</a>, and I published work on how <a href="http://www.pnas.org/content/104/46/17948.abstract" target="_blank">fast cognitive processes can predict elections</a>.</p>
				<p>I taught as a graduate assistant for two years in the Department of Psychology at the University of Michigan, where I graduated from law school in 2009. During law school, I learned about the legal aspects of startup formation and financing, and made some great friends in one of the <a href="http://sitemaker.umich.edu/finance629/home" target="_blank">best classes ever</a>. During the summers, I worked in <a href="http://www.fd.org" target="_blank">public service</a>, and at a <a href="http://www.wsgr.com" target="_blank">large tech law firm</a> in Palo Alto.</p>
				<p>After law school, I served on active duty for four years in the Army, working in the Office of the General Counsel at the Pentagon.</p>
			</div>
		</div>
	</div>
</div>