---
title: "Chas Ballew"
---

<div class="container text-center">
	<div class="center-column col-md-6 col-md-offset-3">
		<div id="header">
			<span>CHAS BALLEW</span>
			<ul class="list-unstyled list-inline">
				<li><a href="#background">background</a></li>
				<li><a href="#personal">personal</a></li>
				<li><a href="#interests">interests</a></li>
			</ul>
		</div>

		<hr>

		<div id="profile-pic" class="img-circle" ></div>

		<div id="short-bio">
			<p>With my friend <a href="https://twitter.com/fancyremarker" target="_blank">Frank</a>, I'm one of the co-founders of <a href="https://www.aptible.com" target="_blank">Aptible</a>. We are making it easier for developers to comply with healthcare technology regulations.</p>
		</div>

		<hr>

		<div class="row">
			<a href="https://www.aptible.com" target="_blank" id="aptible-logo"></a>
		</div>

		<div class="row">
			<p>I occasionally write for <a href="http://blog.aptible.com" target="_blank">Aptible's blog</a>.</p>
		</div>

		<div class="row">
			<span>find me on:</span>
			<ul class="list-unstyled list-inline">
				<li><a href="http://github.com/chasballew" target="_blank">github</a></li>
				<li><a href="https://twitter.com/chasballew" target="_blank">twitter</a></li>
				<li><a href="http://www.linkedin.com/in/chasballew" target="_blank">linkedin</a></li>
			</ul>
		</div>

		<hr>

		<div class="article" id="background"><p class="headline text-muted">background</p>
			<p>I graduated from Princeton in 2006 with a degree in psychology. My advisor, <a href="https://psych.princeton.edu/psychology/research/todorov/index.php" target="_blank">Alex Todorov</a>, and I published work on how <a href="http://www.pnas.org/content/104/46/17948.abstract" target="_blank">fast cognitive processes can "predict" elections</a>.</p>

			<p>I received a JD from the University of Michigan Law School in 2009. I also taught as a graduate assistant in the Department of Psychology for two years. Over the summers during law school, I worked in public service and at a large tech law firm in Palo Alto.

			<p>After law school, I served on active duty for four years in the Army, in the Office of the General Counsel.</p>
		</div>

		<div class="article" id="personal"><p class="headline text-muted">personal</p>
			<p>I was born near Detroit, where my parents were raised. I'm the oldest of 4 kids. We grew up mostly in the Chicago suburbs. I like running, reading, the serial comma, and (before I moved to NYC) homebrewing beer and wine. <em>Infinite Jest</em>, <em>Moby Dick</em>, <em>Lolita</em>, and <em>A Confederacy of Dunces</em> are a few of my favorite books.</p>
		</div>

		<div class="article" id="interests"><p class="headline text-muted">things of interest</p>
			<p>I'm broadly interested in public service, civics, and law as code. I'm specifically interested in functional and object-oriented programming, web APIs, and building Aptible into a great company to work for.</p>
			<p>I also still love psychology, especially judgments and decisionmaking. If you're curious, I recommend <a href="http://www.nytimes.com/2011/11/27/books/review/thinking-fast-and-slow-by-daniel-kahneman-book-review.html" target="_blank">this book</a> by one of my former professors.</p>
		</div>
		<div class="row" id="spacer"><p>∞</p></div>
	</div>
</div>